body {
    background-color: white;
    color: #212121;
    padding-bottom: 50px;
}

h1 {

    padding-top: 50px;
    padding-bottom: 25px;
    font-size: 32px;
    display: flex;
    justify-content: center;
}

h2 {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.everything_but_injection {
    padding-left: 50px;
    padding-right: 50px;
}

hr {
    margin-bottom: 25;
}

.blog_entry {
    border-width: 1px;
    display: flex;
    justify-content: center;
}

.entry_image {
    max-width: 70%;
    height: auto;
    width: auto\9;
}

/* Blog entry section*/
.blog_entry {
    position: relative;
    text-align: center;
    color: white;
    margin-bottom: 10px;
}

.image_container {
    position: relative;
    display: inline-block;
}

.rounded_image {
    width: 100%;
    height: auto;
}

.entry_title span{
    font-size: 1.5vw;
    font-family: 'IBM Plex Mono', sans-serif;
    font-style:normal;
    font-weight:100;
    line-height: 1.0;
    color: white;
    background-color: black;
    padding: 5px;
    max-width: 750px;
}

.entry_text, .entry_tag {
    color: white;
    text-align: left;
    margin-bottom: 5px;
    text-shadow: -1px -1px 1px black;
}

.entry_date, .entry_description {
    font-size: 1.2vw;
    font-family: 'IBM Plex Sans', sans-serif;
}

.entry_text_block {
    display: block;
    position: absolute;
    bottom: 3%;
    left: 17%;
    width: auto;
    justify-content: left;
}

.entry_tags {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.entry_tag {
    border: white;
    border-style: solid;
    border-width: 1px;
    border-radius: 20px;
    margin-right: 10px;
    padding: 3px;
    padding-left: 8px;
    padding-right: 8px;
    font-family: 'IBM Plex sans', sans-serif;
    font-size: .8vw;
}

.blog-grow { 
    transition: all .2s ease-in-out; 
}

.blog-grow:hover { 
    transform: scale(1.02); 
}

/* Mobile Changes */

@media (max-width: 900px) {
    .entry_image {
        max-width: 900px;
        height: auto;
        width: auto\9;
    }

    .entry_text_block {
        bottom: 3%;
        left: 3%;
    }

    h2 {
        font-size: 3.7vw;
    }

    .entry_title {
        font-size: 3.2vw;
    }
    .entry_date, .entry_description {
        font-size: 3vw;
    }

    .entry_tag {
        font-size: 2vw;
    }
    .everything_but_injection {
        padding-left: 15px;
        padding-right: 15px;
    }
  }