h1 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 40px;
}

h2 {
    font-size: 30;
    margin-bottom: 10px;
}

.skill_word {
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
    background-color: #212121;
    color: white;
    margin: 5px;
}

.work_entry, .project_entry {
    margin-bottom: 20px;
}

.work_entry li, .project_entry li {
    font-family: 'IBM Plex Mono', sans-serif;                 
    font-style: normal;
    font-weight: 300;
}

h4 {
    margin-top: 5px;
    margin-bottom: 15px;
    font-family: 'IBM Plex Sans', sans-serif;
}

.main_body {
    display: flex;
    flex: 1;
}

.column_1 {
    max-width: 50%;
    padding-right: 15px;
}

.column_2 {
    padding-left: 15px;
}

hr.column_divider {
    max-width: 400px;
}

.certs_section p, .awards_section p{
    margin-bottom: 3px;
}

.ref_person {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.ref_person .socials_tree_button {
    padding-top: 5px;
    padding-left: 10px;
}

.title_link .socials_tree_button {
    padding-left: 15px;
    padding-top: 11px;
}

.title_link .socials_tree_button img {
    width: 110%; 
    height: auto;
}

@media (max-width: 900px) {
    .everything_but_injection{
        display: flex;
        flex-direction: column;
        float: none;
        max-width: 900px;
        padding-left: 25px;
        padding-right: 25px;
        margin-right: 0px;
    }

    .main_body {
        display: block;
        flex: none;
    }

    .column_1 {
        max-width: 100%;
        padding-right: 0px;
    }

    hr.hide_desktop {
        width: 100%;
        max-width: 400px;
    }

}