* {
    margin: 0;
}

body {
    margin-left:100px;
    margin-right:100px;
}

h1 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-style:normal;
    font-weight:100;
    font-size: max(35px, 4.5vw);
    line-height: 1.0;
}

h2 {
    font-family: 'IBM Plex Mono', sans-serif;                 
    font-style:normal;
    font-weight:400;
}

h3, p {
    font-family: 'IBM Plex Mono', sans-serif;                 
    font-style:normal;
    font-weight:300;
}

img {
    border-radius: 10px;
}

.shadowed {
    filter: drop-shadow(3px 3px 6px #e9e9e9);
}