body{
    background-color: white;
    padding-bottom: 250px;
}

.inland_empire {
    margin-top: 200px;
    width:30%; 
    height: auto; 
    display: block;
}

.under_construction_text{
    margin-top: 30px;
    text-align: center;
}

h1 {
    font-size: 40px;
}

h2 {
    margin-top: 20px;
    font-size: medium;
}

.construction_home_button {
    border: 2px solid black;
    margin-top: 20px;
    padding:10px;
    text-decoration: none;
    color: black;
    }

.construction_home_button:hover {
    background: black;
    color: white;
}