body {
    background-color: #131516;
    /* background-color: black; */
}

.navbar {
    filter: invert(100%);
}

h1 {
    align-items: center;
    text-align: center;
    color: white;
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 3.2vw;
}

.foreword, .heading_image, .essay_block, .heading_image {
    max-width: 800px;
    margin: 0 auto; /* Center horizontally */
}

.double_row {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.music_embed {
    /* margin-top: 25px; */
    margin-bottom: 25px;
    margin-left: 20px;
}

.foreword {
    background-color: #424242;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.foreword p {
    max-width: 770px;
}

p, b, a{
    color: white;
}

.in_text_link {
    padding: 0px;
    margin: 0px;
}

.heading_image { 
    /* The image used */
    background-image: url("Amarr_Space.jpeg");
    
    /* Set a specific height */
    min-height: 80px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /* Styles */
    max-width: 800px;
    border-radius: 5px 5px 0px 0px;
  }

.long_div{
    padding-bottom: 1000px;
}

.essay_block {
    /* background-color: black; */
    background-color: #222526;
    padding-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.essay_text {
    max-width: 770px;
    margin-top: 25px;
}

.standing_para {
    margin-bottom: 10px;
}

.apple_music_embed {
    border-radius: 5px;
    
}

h4 {
    margin-top: 5px;
    color: white;
    border: white;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    /* margin-right: 10px; */
    padding: 10px;
    /* padding-left: 8px;
    padding-right: 8px; */
    font-family: 'IBM Plex sans', sans-serif;
    font-size: 9pt;
    display: flex;
}