body {
    background-color: #131516;
    /* background-color: black; */
}

.navbar {
    filter: invert(100%);
}

h1 {
    align-items: center;
    text-align: center;
    color: white;
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 3.2vw;
}

.foreword, .heading_image, .essay_block, .heading_image, .in_text_hr, .centered_image {
    max-width: 800px;
    margin: 0 auto; /* Center horizontally */
}

.double_row {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: center;
}

.music_embed {
    /* margin-top: 25px; */
    margin-bottom: 0px;
    margin-left: 20px;
}

.foreword {
    background-color: #424242;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.foreword p {
    max-width: 770px;
}

p, b, a, em{
    color: white;
}

.in_text_link {
    padding: 0px;
    margin: 0px;
}

.heading_image { 
    /* The image used */
    background-image: url("Amarr_Space.jpeg");
    
    /* Set a specific height */
    min-height: 80px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /* Styles */
    max-width: 800px;
    border-radius: 5px 5px 0px 0px;
  }

.essay_block {
    /* background-color: black; */
    background-color: #222526;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 0px 0px 5px 5px;
}

.essay_text {
    max-width: 770px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.standing_para {
    margin-bottom: 10px;
}

.apple_music_embed {
    border-radius: 5px;
    
}

h4 {
    margin-top: 5px;
    color: white;
    border: white;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    padding: 10px;
    font-family: 'IBM Plex sans', sans-serif;
    font-size: 11px;
    display: table;
    margin: 0 auto;
    margin-top: 5px;
}

.double_row_citation {
    max-width: 200px;
}

.double_row_blurb img{
    /* width: 200px; */
    max-width: 200px;
    border-radius: 5px;
}

.citation {
    font-family: 'IBM Plex Sans', sans-serif;
    font-style:normal;
    font-weight:100;
    font-size: 19px;
    line-height: 1.0;
    margin-left: 20px;
}

.citation i {
    color: white;
}

.in_text_hr {
    max-width: 500px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.centered_image_blurb, .centered_image_blurb img {
    max-width: 770px;
    
}

.double_row_image {
    max-width: 400px;
}

.double_row_standing {
    display: block;
    align-items: center;
}